* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-container {
    background-color: #F3F9D2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the main container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #93827F;
    border-radius: 5px;
    background-color: #e6f1ed;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Styles for the form container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

/* Styles for the input field */
.input-css {
    width: 100%;
    padding: 10px;
    border: 1px solid #93827F;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styles for the submit button */
.button-css {
    padding: 10px 15px;
    background-color: #dbe2c3;
    width: 100%;
    color: #2F2F2F;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button-css:hover {
    background-color: #F3F9D2;
}

/* Container for the list items */
.ul-container {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
   
    border-radius: 5px;
   
    
    box-sizing: border-box;
}

/* Styles for the unordered list */
.ul-css {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Styles for the list items */
.li-css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #93827F;
    border-radius: 5px;
    background-color: #92B4A7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Styles for the delete button */
.li-css button {
    padding: 5px 10px;
    background-color: #6e615f;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.li-css button:hover {
    background-color: #928684;
}

.testo-articolo{
    overflow: hidden;
    text-overflow: ellipsis;
}